@keyframes zy {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(-5deg);
    }

    50%,
    100% {
        transform: rotate(0deg);
    }
}
.react-autosuggest__container input{
    width: 100%!important;
    height: 43px!important;
    border: 1px solid #cad1d7;
    border-radius: 5px
    
}